<h2>New Products</h2>

<% if @products.empty? %>

	<div class="jumbotron">
        <h1>No Results Found!</h1>
        <p>There are no new products to display yet!</p>
        <p>
        	<%= link_to 'Take me home!', root_path, :class => "btn btn-lg btn-danger" %>
   		</p>
    </div>

<% end %>

<%= render @products %>

<div class="pagination-div"><%= paginate @products, :window => 2 %></div>