$max_width: 100%;
$center: 0px auto;

.jumbotron{
	.product_body{
		width: 45%;
		margin: $center;
		float: left;
	}

	.product_image{
		width: 45%;
		margin: $center;
		float: right;
	}

	.reviews{
		clear: both;
		width: 85%;
		margin: 40px auto;
		
		h2{
			text-align: center;
		}

		
		.no-reviews{
		text-align: center;
		width: 130px;
		margin: $center;
		}
	}
}

.oldPrice{
	text-decoration: line-through;
	color: #9c9c9c;
}

.salePrice{
	font-weight: bold;
	color: #FA0C0C;
}

.sale-icon{
	float: right;
}

.sold-out-icon{
	float: right;
}

.search-form{
	display: inline;
	width: 80%;
	height: 38px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #444;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control {
	display: inline;
	width: 90%;
}

.product{
	min-height: 315px;
}

.product-img-div{
	min-height: 100px;
	min-width: 100px;
}

.message-output{
	clear: both;
	min-width: 100px;
	min-width: 80px;
	margin: 5px auto;
}

.pagination-div{
	min-width: 100px;
	margin: $center;
	clear: both;
}

.nav>li>a{
	color: #FFF;
}

.product-btn{
	color: #FFF;
}

h2, .h2 {
	font-size: 23px;
}