.jumbotron{
	.product_body{
		width: 45%;
		margin: 0px auto;
		float: left;
	}

	.product_image{
		width: 45%;
		margin: 0px auto;
		float: right;
	}

	.reviews{
		clear: both;
		width: 85%;
		margin: 40px auto;
		
		h2{
			text-align: center;
		}
	}
}

.oldPrice{
	text-decoration: line-through;
	color: #9c9c9c;
}

.salePrice{
	font-weight: bold;
	color: #FA0C0C;
}